<style>
html,body{
    height: 100%;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(202, 112, 202) 0%, rgba(0,212,255,1) 96%);
    }
h1 {
    font-size: 65px;
    color: rgb(213, 213, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.child {
    width: 50px;
    height: 50px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 35%;
    left: 45%;
    margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
    }

</style>

<html>
  <div class="child">
<h1>Register</h1>
<%- include ('./partials/messages') %>
<form action="/users/register" method="POST">
<div>
    <label for="name">Name</label>
    <input
      type="name"
      name="name"
      placeholder="Enter Name"
      value="<%= typeof name != 'undefined' ? name : '' %>"
    />
  
</div>
<div>
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      placeholder="Enter Email"
      value="<%= typeof email != 'undefined' ? email : '' %>"
    />
  </div>
  <div >
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Create Password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
    />
  </div>
  <div >
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      name="password2"
      placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Register
  </button>
</form>
<p> Have An Account? </p> 
<a href="/users/login">Login</a>
</div>
</html>